 button {
	padding: .25em .5em;
	font-weight: bold;
	border-radius: .5em;
 }
 .default {
	 background-color: #eeeeee;
 }

 .primary {
	 background-color: #c6d7f6;
 }

 .secondary {
	 background-color: #f6c6ee;
 }